[Desktop Entry]
Name=StreamPlayer
Exec=/usr/share/APPLaunch/bin/M5CardputerZero-StreamPlayer
Terminal=false
Icon=share/images/stream-player.png
Type=Application
